.callout-container {
  margin: 1.2rem 0;
  padding: 1rem;
  .callout-content {
    display: grid;
    grid-gap: 1rem;
    .callout-info {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        svg {
          width: 100%;
          height: auto;
        }
      }
      .labels {
        width: 100%;
        .title {
          font-size: 1rem;
        }
        .description {
          font-size: 0.9rem;

          .icon-description {
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
