  .content {
    width: calc(100% + 2rem);
    left: -1rem;
    flex-direction: column;

    .button-close {
      right: 1rem;
      top: 1rem;
      width: 24px;
      height: 24px;

      span {
        i {
          font-size: 8px;
          position: relative;
          top: 1px;
          color: var(--primary_color);
        }
      }
    }

    .main-content {
      flex-direction: column;
      width: 100%;
      height: inherit;

      .title {
        color: var(--neutral-10);
        width: 80%;
        @media (max-width: 767px) {
          margin-top: 10rem;
        }
      }

      img {
        width: 80%;
        height: auto;
        object-fit: contain;
        z-index: 1;
        bottom: 0;
      }
    }

    .footer {
      width: calc(100% + 2rem);
      left: -1rem;
      background-color: var(--background_secondary);
      height: auto;
      margin-top: -33px;
      flex-direction: column;
      gap: 1rem;
      flex-shrink: 0;

      .actions {
        flex-shrink: 0;
      }
    }
  }
