.without-header {
  border-bottom: none !important;
  padding: 0 !important;
  border: none;
  justify-content: flex-end;
  .modal-exit {
    margin: 0;
    padding: 0;
  }
}
.modal-over {
  padding: 0;
}
.force-mobile-no-margin {
  margin: 0 auto !important;
}
