.tiny-calendar {
  flex-shrink: 0;

  .card-tiny-calendar {
    max-width: 38px;
    width: 100%;
    border: 1px solid var(--border_color);
    text-align: center;
    min-width: 80px;
    align-items: center;
    text-align: center;
    box-shadow: var(--box_shadow);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--gray);

    span {
      font-size: 0.86rem;
      text-transform: uppercase;
    }

    .text-big {
      font-size: 1.7rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      margin: -6px 0;
      color: var(--text_color);
    }
  }
}
