.button-show-password {
  background-color: transparent;
  border: none;
  font-size: inherit;
  color: var(--text_color);
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 1rem;
  line-height: 1;
  &:hover {
    cursor: pointer;
  }
  top: 3rem;
  &.no-label {
    top: 1rem;
  }
}

.rules-validations {
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  color: var(--text_color);

  .success,
  .error {
    width: 12px;
    height: 14px;
    padding-right: 8px;
  }

  .success {
    color: var(--green_light);
  }

  .error {
    color: var(--red);
  }

  &:first-child {
    margin-top: 8px;
  }
}
