.user-position {
  .ranking {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--primary_color);
  }

  .total {
    padding-left: 3px;
    font-size: 0.9rem;
    font-weight: normal;
  }
}
