.wrapper-collapse {
  display: block;
  margin: 0 auto;
  &.no-padding {
    padding: 0;
  }

  .body-border {
    border: 1px solid var(--border_color);
    border-width: 0 1px 1px 1px;
    border-radius: 6px;
    margin-bottom: 1rem;
  }
}
